.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 4rem;
    width: 90%;
    margin: 10px auto;
    font-family: 'Lobster';
    cursor: pointer;
    transition: 0.3s ease;
    background: none;
    font-size: 2rem;
    border-bottom: 3px solid;
}